<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysu.drffpjcxt.mapper.DashboardMapper">

    <resultMap type="com.ysu.drffpjcxt.entity.Dashboard" id="TDashboardMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="dashboardName" column="dashboard_name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createdBy" column="created_by" jdbcType="BIGINT"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="queryById" resultMap="TDashboardMap">
        select
            `id`, `dashboard_name`, `description`, `created_by`, `is_deleted`, `create_time`, `update_time`
        from t_dashboard
        where `id` = #{id}
    </select>

    <select id="queryAllByLimit" resultMap="TDashboardMap">
        select
        `id`, `dashboard_name`, `description`, `created_by`, `is_deleted`, `create_time`, `update_time`
        from t_dashboard
        <where>
            <if test="id != null">
                and `id` = #{id}
            </if>
            <if test="dashboardName != null and dashboardName != ''">
                and `dashboard_name` = #{dashboardName}
            </if>
            <if test="description != null and description != ''">
                and `description` = #{description}
            </if>
            <if test="createdBy != null">
                and `created_by` = #{createdBy}
            </if>
            <if test="isDeleted != null">
                and `is_deleted` = #{isDeleted}
            </if>
            <if test="createTime != null">
                and `create_time` = #{createTime}
            </if>
            <if test="updateTime != null">
                and `update_time` = #{updateTime}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(1)
        from t_dashboard
        <where>
            <if test="id != null">
                and `id` = #{id}
            </if>
            <if test="dashboardName != null and dashboardName != ''">
                and `dashboard_name` = #{dashboardName}
            </if>
            <if test="description != null and description != ''">
                and `description` = #{description}
            </if>
            <if test="createdBy != null">
                and `created_by` = #{createdBy}
            </if>
            <if test="isDeleted != null">
                and `is_deleted` = #{isDeleted}
            </if>
            <if test="createTime != null">
                and `create_time` = #{createTime}
            </if>
            <if test="updateTime != null">
                and `update_time` = #{updateTime}
            </if>
        </where>
    </select>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into t_dashboard(`dashboard_name`, `description`, `created_by`, `is_deleted`, `create_time`, `update_time`)
        values (#{dashboardName}, #{description}, #{createdBy}, #{isDeleted}, #{createTime}, #{updateTime})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into t_dashboard(`dashboard_name`, `description`, `created_by`, `is_deleted`, `create_time`, `update_time`)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.dashboardName}, #{entity.description}, #{entity.createdBy}, #{entity.isDeleted}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into t_dashboard(`id`, `dashboard_name`, `description`, `created_by`, `is_deleted`, `create_time`, `update_time`)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.id}, #{entity.dashboardName}, #{entity.description}, #{entity.createdBy}, #{entity.isDeleted}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
        on duplicate key update
        `dashboard_name` = values(`dashboard_name`),
        `description` = values(`description`),
        `created_by` = values(`created_by`),
        `is_deleted` = values(`is_deleted`),
        `update_time` = values(`update_time`)
    </insert>

    <update id="update">
        update t_dashboard
        <set>
            <if test="dashboardName != null and dashboardName != ''">
                `dashboard_name` = #{dashboardName},
            </if>
            <if test="description != null and description != ''">
                `description` = #{description},
            </if>
            <if test="createdBy != null">
                `created_by` = #{createdBy},
            </if>
            <if test="isDeleted != null">
                `is_deleted` = #{isDeleted},
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
        </set>
        where `id` = #{id}
    </update>

    <delete id="deleteById">
        delete
        from t_dashboard
        where `id` = #{id}
    </delete>

</mapper>