<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysu.drffpjcxt.mapper.HighRiskProfileMapper">

    <resultMap type="com.ysu.drffpjcxt.entity.HighRiskProfile" id="THighRiskProfileMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="farmerId" column="farmer_id" jdbcType="BIGINT"/>
        <result property="markingApplicationId" column="marking_application_id" jdbcType="BIGINT"/>
        <result property="riskCauseDescription" column="risk_cause_description" jdbcType="VARCHAR"/>
        <result property="riskTrendDescription" column="risk_trend_description" jdbcType="VARCHAR"/>
        <result property="monitoringStatus" column="monitoring_status" jdbcType="TINYINT"/>
        <result property="riskIdentifiedDate" column="risk_identified_date" jdbcType="DATE"/>
        <result property="lastWarningTime" column="last_warning_time" jdbcType="TIMESTAMP"/>
        <result property="totalWarningCount" column="total_warning_count" jdbcType="INTEGER"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="queryById" resultMap="THighRiskProfileMap">
        select
            `id`, `farmer_id`, `marking_application_id`, `risk_cause_description`, `risk_trend_description`, `monitoring_status`, `risk_identified_date`, `last_warning_time`, `total_warning_count`, `is_deleted`, `create_time`, `update_time`
        from t_high_risk_profile
        where `id` = #{id}
    </select>

    <select id="queryAllByLimit" resultMap="THighRiskProfileMap">
        select
        `id`, `farmer_id`, `marking_application_id`, `risk_cause_description`, `risk_trend_description`, `monitoring_status`, `risk_identified_date`, `last_warning_time`, `total_warning_count`, `is_deleted`, `create_time`, `update_time`
        from t_high_risk_profile
        <where>
            <if test="id != null">
                and `id` = #{id}
            </if>
            <if test="farmerId != null">
                and `farmer_id` = #{farmerId}
            </if>
            <if test="markingApplicationId != null">
                and `marking_application_id` = #{markingApplicationId}
            </if>
            <if test="riskCauseDescription != null and riskCauseDescription != ''">
                and `risk_cause_description` = #{riskCauseDescription}
            </if>
            <if test="riskTrendDescription != null and riskTrendDescription != ''">
                and `risk_trend_description` = #{riskTrendDescription}
            </if>
            <if test="monitoringStatus != null">
                and `monitoring_status` = #{monitoringStatus}
            </if>
            <if test="riskIdentifiedDate != null">
                and `risk_identified_date` = #{riskIdentifiedDate}
            </if>
            <if test="lastWarningTime != null">
                and `last_warning_time` = #{lastWarningTime}
            </if>
            <if test="totalWarningCount != null">
                and `total_warning_count` = #{totalWarningCount}
            </if>
            <if test="isDeleted != null">
                and `is_deleted` = #{isDeleted}
            </if>
            <if test="createTime != null">
                and `create_time` = #{createTime}
            </if>
            <if test="updateTime != null">
                and `update_time` = #{updateTime}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(1)
        from t_high_risk_profile
        <where>
            <if test="id != null">
                and `id` = #{id}
            </if>
            <if test="farmerId != null">
                and `farmer_id` = #{farmerId}
            </if>
            <if test="markingApplicationId != null">
                and `marking_application_id` = #{markingApplicationId}
            </if>
            <if test="riskCauseDescription != null and riskCauseDescription != ''">
                and `risk_cause_description` = #{riskCauseDescription}
            </if>
            <if test="riskTrendDescription != null and riskTrendDescription != ''">
                and `risk_trend_description` = #{riskTrendDescription}
            </if>
            <if test="monitoringStatus != null">
                and `monitoring_status` = #{monitoringStatus}
            </if>
            <if test="riskIdentifiedDate != null">
                and `risk_identified_date` = #{riskIdentifiedDate}
            </if>
            <if test="lastWarningTime != null">
                and `last_warning_time` = #{lastWarningTime}
            </if>
            <if test="totalWarningCount != null">
                and `total_warning_count` = #{totalWarningCount}
            </if>
            <if test="isDeleted != null">
                and `is_deleted` = #{isDeleted}
            </if>
            <if test="createTime != null">
                and `create_time` = #{createTime}
            </if>
            <if test="updateTime != null">
                and `update_time` = #{updateTime}
            </if>
        </where>
    </select>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into t_high_risk_profile(`farmer_id`, `marking_application_id`, `risk_cause_description`, `risk_trend_description`, `monitoring_status`, `risk_identified_date`, `last_warning_time`, `total_warning_count`, `is_deleted`, `create_time`, `update_time`)
        values (#{farmerId}, #{markingApplicationId}, #{riskCauseDescription}, #{riskTrendDescription}, #{monitoringStatus}, #{riskIdentifiedDate}, #{lastWarningTime}, #{totalWarningCount}, #{isDeleted}, #{createTime}, #{updateTime})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into
        t_high_risk_profile(`farmer_id`, `marking_application_id`, `risk_cause_description`, `risk_trend_description`, `monitoring_status`, `risk_identified_date`, `last_warning_time`, `total_warning_count`, `is_deleted`, `create_time`, `update_time`)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.farmerId}, #{entity.markingApplicationId}, #{entity.riskCauseDescription}, #{entity.riskTrendDescription}, #{entity.monitoringStatus}, #{entity.riskIdentifiedDate}, #{entity.lastWarningTime}, #{entity.totalWarningCount}, #{entity.isDeleted}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into
        t_high_risk_profile(`id`, `farmer_id`, `marking_application_id`, `risk_cause_description`, `risk_trend_description`, `monitoring_status`, `risk_identified_date`, `last_warning_time`, `total_warning_count`, `is_deleted`, `create_time`, `update_time`)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.id}, #{entity.farmerId}, #{entity.markingApplicationId}, #{entity.riskCauseDescription}, #{entity.riskTrendDescription}, #{entity.monitoringStatus}, #{entity.riskIdentifiedDate}, #{entity.lastWarningTime}, #{entity.totalWarningCount}, #{entity.isDeleted}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
        on duplicate key update
        `farmer_id` = values(`farmer_id`),
        `marking_application_id` = values(`marking_application_id`),
        `risk_cause_description` = values(`risk_cause_description`),
        `risk_trend_description` = values(`risk_trend_description`),
        `monitoring_status` = values(`monitoring_status`),
        `risk_identified_date` = values(`risk_identified_date`),
        `last_warning_time` = values(`last_warning_time`),
        `total_warning_count` = values(`total_warning_count`),
        `is_deleted` = values(`is_deleted`),
        `update_time` = values(`update_time`)
    </insert>

    <update id="update">
        update t_high_risk_profile
        <set>
            <if test="farmerId != null">
                `farmer_id` = #{farmerId},
            </if>
            <if test="markingApplicationId != null">
                `marking_application_id` = #{markingApplicationId},
            </if>
            <if test="riskCauseDescription != null and riskCauseDescription != ''">
                `risk_cause_description` = #{riskCauseDescription},
            </if>
            <if test="riskTrendDescription != null and riskTrendDescription != ''">
                `risk_trend_description` = #{riskTrendDescription},
            </if>
            <if test="monitoringStatus != null">
                `monitoring_status` = #{monitoringStatus},
            </if>
            <if test="riskIdentifiedDate != null">
                `risk_identified_date` = #{riskIdentifiedDate},
            </if>
            <if test="lastWarningTime != null">
                `last_warning_time` = #{lastWarningTime},
            </if>
            <if test="totalWarningCount != null">
                `total_warning_count` = #{totalWarningCount},
            </if>
            <if test="isDeleted != null">
                `is_deleted` = #{isDeleted},
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
        </set>
        where `id` = #{id}
    </update>

    <delete id="deleteById">
        delete
        from t_high_risk_profile
        where `id` = #{id}
    </delete>

</mapper>