<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysu.drffpjcxt.mapper.HighRiskProfileMapper">

    <resultMap type="com.ysu.drffpjcxt.entity.HighRiskProfile" id="THighRiskProfileMap">
    </resultMap>

    <select id="queryById" resultMap="THighRiskProfileMap">
        select
            `id`, `farmer_id`, `status`,`risk_cause_description`,`risk_trend_description`, `monitoring_status`, `risk_identified_date`, `last_warning_time`, `total_warning_count`, `is_deleted`, `create_time`, `update_time`
        from t_high_risk_profile
        where `id` = #{id}
    </select>

    <select id="queryAllByLimit" resultMap="THighRiskProfileMap">
        select
        `id`, `farmer_id`, `status`, `risk_cause_description`, `risk_trend_description`, `monitoring_status`, `risk_identified_date`, `last_warning_time`, `total_warning_count`, `is_deleted`, `create_time`, `update_time`
        from t_high_risk_profile
        <where>
            <if test="highRiskProfile.id != null">
                and `id` = #{highRiskProfile.id}
            </if>
            <if test="highRiskProfile.farmerId != null">
                and `farmer_id` = #{highRiskProfile.farmerId}
            </if>
            <if test="highRiskProfile.riskCauseDescription != null and highRiskProfile.riskCauseDescription != ''">
                and `risk_cause_description` = #{highRiskProfile.riskCauseDescription}
            </if>
            <if test="highRiskProfile.riskTrendDescription != null and highRiskProfile.riskTrendDescription != ''">
                and `risk_trend_description` = #{highRiskProfile.riskTrendDescription}
            </if>
            <if test="highRiskProfile.monitoringStatus != null">
                and `monitoring_status` = #{highRiskProfile.monitoringStatus}
            </if>
            <if test="highRiskProfile.riskIdentifiedDate != null">
                and `risk_identified_date` = #{highRiskProfile.riskIdentifiedDate}
            </if>
            <if test="highRiskProfile.lastWarningTime != null">
                and `last_warning_time` = #{highRiskProfile.lastWarningTime}
            </if>
            <if test="highRiskProfile.totalWarningCount != null">
                and `total_warning_count` = #{highRiskProfile.totalWarningCount}
            </if>
            <if test="highRiskProfile.isDeleted != null">
                and `is_deleted` = #{highRiskProfile.isDeleted}
            </if>
            <if test="highRiskProfile.createTime != null">
                and `create_time` = #{highRiskProfile.createTime}
            </if>
            <if test="highRiskProfile.updateTime != null">
                and `update_time` = #{highRiskProfile.updateTime}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(1)
        from t_high_risk_profile
        <where>
            <if test="highRiskProfile.id != null">
                and `id` = #{highRiskProfile.id}
            </if>
            <if test="highRiskProfile.farmerId != null">
                and `farmer_id` = #{highRiskProfile.farmerId}
            </if>
            <if test="highRiskProfile.status != null">
                and `status` = #{highRiskProfile.status}
            </if>
            <if test="highRiskProfile.riskCauseDescription != null and highRiskProfile.riskCauseDescription != ''">
                and `risk_cause_description` = #{highRiskProfile.riskCauseDescription}
            </if>
            <if test="highRiskProfile.riskTrendDescription != null and highRiskProfile.riskTrendDescription != ''">
                and `risk_trend_description` = #{highRiskProfile.riskTrendDescription}
            </if>
            <if test="highRiskProfile.monitoringStatus != null">
                and `monitoring_status` = #{highRiskProfile.monitoringStatus}
            </if>
            <if test="highRiskProfile.riskIdentifiedDate != null">
                and `risk_identified_date` = #{highRiskProfile.riskIdentifiedDate}
            </if>
            <if test="highRiskProfile.lastWarningTime != null">
                and `last_warning_time` = #{highRiskProfile.lastWarningTime}
            </if>
            <if test="highRiskProfile.totalWarningCount != null">
                and `total_warning_count` = #{highRiskProfile.totalWarningCount}
            </if>
            <if test="highRiskProfile.isDeleted != null">
                and `is_deleted` = #{highRiskProfile.isDeleted}
            </if>
            <if test="highRiskProfile.createTime != null">
                and `create_time` = #{highRiskProfile.createTime}
            </if>
            <if test="highRiskProfile.updateTime != null">
                and `update_time` = #{highRiskProfile.updateTime}
            </if>
        </where>
    </select>

    <update id="update">
        update t_high_risk_profile
        <set>
            <if test="farmerId != null">
                `farmer_id` = #{farmerId},
            </if>
        </set>
        where `id` = #{id}
    </update>

    <delete id="deleteById">
        delete
        from t_high_risk_profile
        where `id` = #{id}
    </delete>

    <select id="selectAll" resultType="com.ysu.drffpjcxt.entity.HighRiskProfile">
        select
        id,
        farmer_id,
        status,
        risk_cause_description,
        risk_trend_description,
        monitoring_status,
        risk_identified_date,
        last_warning_time,
        total_warning_count,
        is_deleted,
        create_time,
        update_time
        from t_high_risk_profile
        <where>
            is_deleted = 0
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into t_high_risk_profile
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="farmerId != null">
                `farmer_id`,
            </if>

            <if test="status != null and status != ''">
                `status`,
            </if>
            <if test="riskCauseDescription != null and riskCauseDescription != ''">
                `risk_cause_description`,
            </if>
            <if test="riskTrendDescription != null and riskTrendDescription != ''">
                `risk_trend_description`,
            </if>
            <if test="monitoringStatus != null">
                `monitoring_status`,
            </if>
            <if test="riskIdentifiedDate != null">
                `risk_identified_date`,
            </if>
            <if test="lastWarningTime != null">
                `last_warning_time`,
            </if>
            <if test="totalWarningCount != null">
                `total_warning_count`,
            </if>
            <if test="isDeleted != null">
                `is_deleted`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="farmerId != null">
                #{farmerId},
            </if>

            <if test="status != null and status != ''">
                #{status},
            </if>
            <if test="riskCauseDescription != null and riskCauseDescription != ''">
                #{riskCauseDescription},
            </if>
            <if test="riskTrendDescription != null and riskTrendDescription != ''">
                #{riskTrendDescription},
            </if>
            <if test="monitoringStatus != null">
                #{monitoringStatus},
            </if>
            <if test="riskIdentifiedDate != null">
                #{riskIdentifiedDate},
            </if>
            <if test="lastWarningTime != null">
                #{lastWarningTime},
            </if>
            <if test="totalWarningCount != null">
                #{totalWarningCount},
            </if>
            <if test="isDeleted != null">
                #{isDeleted},
            </if>
        </trim>
    </insert>
    <update id="approve">
        update t_high_risk_profile
        <set>
            <if test="status != null and status != ''">
                `status` = #{status},
            </if>
            `update_time` = now()
        </set>
        where `id` = #{id}
    </update>

</mapper>