<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysu.drffpjcxt.mapper.MaterialApplicationMapper">

    <resultMap type="com.ysu.drffpjcxt.entity.MaterialApplication" id="TMaterialApplicationMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="applicantId" column="applicant_id" jdbcType="BIGINT"/>
        <result property="farmerId" column="farmer_id" jdbcType="BIGINT"/>
        <result property="reason" column="reason" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="queryById" resultMap="TMaterialApplicationMap">
        select
            `id`, `applicant_id`, `farmer_id`, `reason`, `status`, `is_deleted`, `create_time`, `update_time`
        from t_material_application
        where `id` = #{id}
    </select>

    <select id="queryAllByLimit" resultMap="TMaterialApplicationMap">
        select
        `id`, `applicant_id`, `farmer_id`, `reason`, `status`, `is_deleted`, `create_time`, `update_time`
        from t_material_application
        <where>
            <if test="id != null">
                and `id` = #{id}
            </if>
            <if test="applicantId != null">
                and `applicant_id` = #{applicantId}
            </if>
            <if test="farmerId != null">
                and `farmer_id` = #{farmerId}
            </if>
            <if test="reason != null and reason != ''">
                and `reason` = #{reason}
            </if>
            <if test="status != null and status != ''">
                and `status` = #{status}
            </if>
            <if test="isDeleted != null">
                and `is_deleted` = #{isDeleted}
            </if>
            <if test="createTime != null">
                and `create_time` = #{createTime}
            </if>
            <if test="updateTime != null">
                and `update_time` = #{updateTime}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(1)
        from t_material_application
        <where>
            <if test="id != null">
                and `id` = #{id}
            </if>
            <if test="applicantId != null">
                and `applicant_id` = #{applicantId}
            </if>
            <if test="farmerId != null">
                and `farmer_id` = #{farmerId}
            </if>
            <if test="reason != null and reason != ''">
                and `reason` = #{reason}
            </if>
            <if test="status != null and status != ''">
                and `status` = #{status}
            </if>
            <if test="isDeleted != null">
                and `is_deleted` = #{isDeleted}
            </if>
            <if test="createTime != null">
                and `create_time` = #{createTime}
            </if>
            <if test="updateTime != null">
                and `update_time` = #{updateTime}
            </if>
        </where>
    </select>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into t_material_application(`applicant_id`, `farmer_id`, `reason`, `status`, `is_deleted`, `create_time`, `update_time`)
        values (#{applicantId}, #{farmerId}, #{reason}, #{status}, #{isDeleted}, #{createTime}, #{updateTime})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into t_material_application(`applicant_id`, `farmer_id`, `reason`, `status`, `is_deleted`, `create_time`, `update_time`)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.applicantId}, #{entity.farmerId}, #{entity.reason}, #{entity.status}, #{entity.isDeleted}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into t_material_application(`id`, `applicant_id`, `farmer_id`, `reason`, `status`, `is_deleted`, `create_time`, `update_time`)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.id}, #{entity.applicantId}, #{entity.farmerId}, #{entity.reason}, #{entity.status}, #{entity.isDeleted}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
        on duplicate key update
        `applicant_id` = values(`applicant_id`),
        `farmer_id` = values(`farmer_id`),
        `reason` = values(`reason`),
        `status` = values(`status`),
        `is_deleted` = values(`is_deleted`),
        `update_time` = values(`update_time`)
    </insert>

    <update id="update">
        update t_material_application
        <set>
            <if test="applicantId != null">
                `applicant_id` = #{applicantId},
            </if>
            <if test="farmerId != null">
                `farmer_id` = #{farmerId},
            </if>
            <if test="reason != null and reason != ''">
                `reason` = #{reason},
            </if>
            <if test="status != null and status != ''">
                `status` = #{status},
            </if>
            <if test="isDeleted != null">
                `is_deleted` = #{isDeleted},
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
        </set>
        where `id` = #{id}
    </update>

    <delete id="deleteById">
        delete
        from t_material_application
        where `id` = #{id}
    </delete>

</mapper>