<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysu.drffpjcxt.mapper.PovertyClueMapper">

    <resultMap type="com.ysu.drffpjcxt.entity.PovertyClue" id="TPovertyClueMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="farmerId" column="farmer_id" jdbcType="BIGINT"/>
        <result property="clueSource" column="clue_source" jdbcType="VARCHAR"/>
        <result property="riskType" column="risk_type" jdbcType="VARCHAR"/>
        <result property="riskDescription" column="risk_description" jdbcType="VARCHAR"/>
        <result property="urgencyLevel" column="urgency_level" jdbcType="TINYINT"/>
        <result property="discoveryDate" column="discovery_date" jdbcType="DATE"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="assigneeId" column="assignee_id" jdbcType="BIGINT"/>
        <result property="dispatchTime" column="dispatch_time" jdbcType="TIMESTAMP"/>
        <result property="deadline" column="deadline" jdbcType="DATE"/>
        <result property="entrySourceDescription" column="entry_source_description" jdbcType="VARCHAR"/>
        <result property="createdBy" column="created_by" jdbcType="BIGINT"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="queryById" resultMap="TPovertyClueMap">
        select
            `id`, `farmer_id`, `clue_source`, `risk_type`, `risk_description`, `urgency_level`, `discovery_date`, `status`, `assignee_id`, `dispatch_time`, `deadline`, `entry_source_description`, `created_by`, `is_deleted`, `create_time`, `update_time`
        from t_poverty_clue
        where `id` = #{id}
    </select>

    <select id="queryAllByLimit" resultMap="TPovertyClueMap">
        select
        `id`, `farmer_id`, `clue_source`, `risk_type`, `risk_description`, `urgency_level`, `discovery_date`, `status`, `assignee_id`, `dispatch_time`, `deadline`, `entry_source_description`, `created_by`, `is_deleted`, `create_time`, `update_time`
        from t_poverty_clue
        <where>
            <if test="id != null">
                and `id` = #{id}
            </if>
            <if test="farmerId != null">
                and `farmer_id` = #{farmerId}
            </if>
            <if test="clueSource != null and clueSource != ''">
                and `clue_source` = #{clueSource}
            </if>
            <if test="riskType != null and riskType != ''">
                and `risk_type` = #{riskType}
            </if>
            <if test="riskDescription != null and riskDescription != ''">
                and `risk_description` = #{riskDescription}
            </if>
            <if test="urgencyLevel != null">
                and `urgency_level` = #{urgencyLevel}
            </if>
            <if test="discoveryDate != null">
                and `discovery_date` = #{discoveryDate}
            </if>
            <if test="status != null and status != ''">
                and `status` = #{status}
            </if>
            <if test="assigneeId != null">
                and `assignee_id` = #{assigneeId}
            </if>
            <if test="dispatchTime != null">
                and `dispatch_time` = #{dispatchTime}
            </if>
            <if test="deadline != null">
                and `deadline` = #{deadline}
            </if>
            <if test="entrySourceDescription != null and entrySourceDescription != ''">
                and `entry_source_description` = #{entrySourceDescription}
            </if>
            <if test="createdBy != null">
                and `created_by` = #{createdBy}
            </if>
            <if test="isDeleted != null">
                and `is_deleted` = #{isDeleted}
            </if>
            <if test="createTime != null">
                and `create_time` = #{createTime}
            </if>
            <if test="updateTime != null">
                and `update_time` = #{updateTime}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(1)
        from t_poverty_clue
        <where>
            <if test="id != null">
                and `id` = #{id}
            </if>
            <if test="farmerId != null">
                and `farmer_id` = #{farmerId}
            </if>
            <if test="clueSource != null and clueSource != ''">
                and `clue_source` = #{clueSource}
            </if>
            <if test="riskType != null and riskType != ''">
                and `risk_type` = #{riskType}
            </if>
            <if test="riskDescription != null and riskDescription != ''">
                and `risk_description` = #{riskDescription}
            </if>
            <if test="urgencyLevel != null">
                and `urgency_level` = #{urgencyLevel}
            </if>
            <if test="discoveryDate != null">
                and `discovery_date` = #{discoveryDate}
            </if>
            <if test="status != null and status != ''">
                and `status` = #{status}
            </if>
            <if test="assigneeId != null">
                and `assignee_id` = #{assigneeId}
            </if>
            <if test="dispatchTime != null">
                and `dispatch_time` = #{dispatchTime}
            </if>
            <if test="deadline != null">
                and `deadline` = #{deadline}
            </if>
            <if test="entrySourceDescription != null and entrySourceDescription != ''">
                and `entry_source_description` = #{entrySourceDescription}
            </if>
            <if test="createdBy != null">
                and `created_by` = #{createdBy}
            </if>
            <if test="isDeleted != null">
                and `is_deleted` = #{isDeleted}
            </if>
            <if test="createTime != null">
                and `create_time` = #{createTime}
            </if>
            <if test="updateTime != null">
                and `update_time` = #{updateTime}
            </if>
        </where>
    </select>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into t_poverty_clue(`farmer_id`, `clue_source`, `risk_type`, `risk_description`, `urgency_level`, `discovery_date`, `status`, `assignee_id`, `dispatch_time`, `deadline`, `entry_source_description`, `created_by`, `is_deleted`, `create_time`, `update_time`)
        values (#{farmerId}, #{clueSource}, #{riskType}, #{riskDescription}, #{urgencyLevel}, #{discoveryDate}, #{status}, #{assigneeId}, #{dispatchTime}, #{deadline}, #{entrySourceDescription}, #{createdBy}, #{isDeleted}, #{createTime}, #{updateTime})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into
        t_poverty_clue(`farmer_id`, `clue_source`, `risk_type`, `risk_description`, `urgency_level`, `discovery_date`, `status`, `assignee_id`, `dispatch_time`, `deadline`, `entry_source_description`, `created_by`, `is_deleted`, `create_time`, `update_time`)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.farmerId}, #{entity.clueSource}, #{entity.riskType}, #{entity.riskDescription}, #{entity.urgencyLevel}, #{entity.discoveryDate}, #{entity.status}, #{entity.assigneeId}, #{entity.dispatchTime}, #{entity.deadline}, #{entity.entrySourceDescription}, #{entity.createdBy}, #{entity.isDeleted}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into
        t_poverty_clue(`id`, `farmer_id`, `clue_source`, `risk_type`, `risk_description`, `urgency_level`, `discovery_date`, `status`, `assignee_id`, `dispatch_time`, `deadline`, `entry_source_description`, `created_by`, `is_deleted`, `create_time`, `update_time`)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.id}, #{entity.farmerId}, #{entity.clueSource}, #{entity.riskType}, #{entity.riskDescription}, #{entity.urgencyLevel}, #{entity.discoveryDate}, #{entity.status}, #{entity.assigneeId}, #{entity.dispatchTime}, #{entity.deadline}, #{entity.entrySourceDescription}, #{entity.createdBy}, #{entity.isDeleted}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
        on duplicate key update
        `farmer_id` = values(`farmer_id`),
        `clue_source` = values(`clue_source`),
        `risk_type` = values(`risk_type`),
        `risk_description` = values(`risk_description`),
        `urgency_level` = values(`urgency_level`),
        `discovery_date` = values(`discovery_date`),
        `status` = values(`status`),
        `assignee_id` = values(`assignee_id`),
        `dispatch_time` = values(`dispatch_time`),
        `deadline` = values(`deadline`),
        `entry_source_description` = values(`entry_source_description`),
        `created_by` = values(`created_by`),
        `is_deleted` = values(`is_deleted`),
        `update_time` = values(`update_time`)
    </insert>

    <update id="update">
        update t_poverty_clue
        <set>
            <if test="farmerId != null">
                `farmer_id` = #{farmerId},
            </if>
            <if test="clueSource != null and clueSource != ''">
                `clue_source` = #{clueSource},
            </if>
            <if test="riskType != null and riskType != ''">
                `risk_type` = #{riskType},
            </if>
            <if test="riskDescription != null and riskDescription != ''">
                `risk_description` = #{riskDescription},
            </if>
            <if test="urgencyLevel != null">
                `urgency_level` = #{urgencyLevel},
            </if>
            <if test="discoveryDate != null">
                `discovery_date` = #{discoveryDate},
            </if>
            <if test="status != null and status != ''">
                `status` = #{status},
            </if>
            <if test="assigneeId != null">
                `assignee_id` = #{assigneeId},
            </if>
            <if test="dispatchTime != null">
                `dispatch_time` = #{dispatchTime},
            </if>
            <if test="deadline != null">
                `deadline` = #{deadline},
            </if>
            <if test="entrySourceDescription != null and entrySourceDescription != ''">
                `entry_source_description` = #{entrySourceDescription},
            </if>
            <if test="createdBy != null">
                `created_by` = #{createdBy},
            </if>
            <if test="isDeleted != null">
                `is_deleted` = #{isDeleted},
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
        </set>
        where `id` = #{id}
    </update>

    <delete id="deleteById">
        delete
        from t_poverty_clue
        where `id` = #{id}
    </delete>

</mapper>